html, body{
	margin-left:15px; margin-right:15px; 
	padding:2px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color: #F4F6F9;
}

table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:100%;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #A56B86;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid gray;
	text-align:center;
	background-color: blue;	
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}	
 
#wrapper {width: 100%; margin-top: 10px; }
#page-header {width: 100%; background: #09c332; margin-top: 0px; padding:15px 0px 15px 15px;}
#page-header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}


.custom-nav {
	background-color: #734B5E;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);	
}
a.navbar-brand {
	color: #E8E9ED;
}

#client-info-list {
	list-style-type: none;
}

.client-info-header {
	font-weight: bold;
}

.search-btn {
	color: #F4F6F9
}

.add-new-btn {
	color: #F4F6F9;
}

.custom-btn {
	width: 125px;
    padding: 5px;
}

#custom-thead {
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);	
}